@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap');

h1 {
    color: red;
    font-family: roboto;
}

/* img {
    background-color: blueviolet;
    
} */