@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #54b689;
    --main-text-color:#CEDBFB;
    --border-color: #999;
    --bio-bg-color: #0A1930;
    --bio-border-color: #2f3945;
    --about-br-color: #111821;
}

/* General */
.highlight {
    color: var(--main-color);
}

/* Containers */
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color)
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80%;
    min-height: 100%;
    background-color: var(--about-br-color);
    padding: 50px;
}

/*  Bio Container*/
#bio-container h2 {
    margin-bottom: 25px;
}

#bio-container p {
    margin-bottom: 20px;
}

#bio-image {
    width: 175px;
    height: 175px;
    border-radius:50%;
    margin-bottom: 25px;
}

li {
    list-style-type: none;
}